html {
	background: #DDD;
}

body {
	background: #EEE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin: 0 auto;
	max-width: 720px;
	padding: 24px 16px;
	text-align: justify;
}

h1, h2 {
	background: #EEE;
	font-size: 150%;
	margin: 0;
	padding: 24px 0 16px;
	border-bottom: 1px solid #999;
}

section h2 {
	position: sticky;
	top: 0;
}

section h2.sticky {
	height: 28px;
	overflow: hidden;
}

h3 {
	background: #EEE;
	font-size: 125%;
	margin: 0;
	padding: 16px 0 8px;
	border-bottom: 1px solid #CCC;
}

nav {
	border: 1px solid #666;
	font-size: 80%;
	margin: 8px 16px;
	padding: 8px;
	width: fit-content;
}

nav ul {
	margin: 0;
	padding: 4px 0 0 24px;
}

aside {
	border: 1px solid #666;
	clear: right;
	float: right;
	margin: 8px 0 8px 16px;
	max-width: 100%;
	padding: 4px;
	width: fit-content;
}

aside table th, aside table td {
	font-size: 70%;
	padding: 2px 4px;
	vertical-align: top;
}

p {
	line-height: 1.5;
	margin: 8px 0;
}

img {
	height: auto;
	max-width: 100%;
}

li {
	line-height: 1.5;
}

.peringatan, .tip {
	font-size: 80%;
	padding: 8px 16px;
}

.peringatan {
	background-color: lightyellow;
	border: 1px solid yellow;
}

.tip {
	background-color: azure;
	border: 1px solid skyblue;
}

.ket-asal {
	background-color: azure;
	border: 1px solid lightskyblue;
	font-size: 80%;
	padding: 1px 2px;
}

.italic {
	font-style: italic;
}

.emoji {
	font-family: "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Android Emoji", "EmojiSymbols", "EmojiOne Mozilla", "Twemoji Mozilla", "Segoe UI Symbol", sans-serif;
	font-weight: 400;
}

footer {
	border-top: 2px solid #666;
	font-size: 60%;
	margin-top: 24px;
	padding: 8px 0;
	text-align: end;
}

@media (max-width: 640px) {
	aside {
		float: none;
		margin: 16px 0;
	}
}
